pyrofork==2.3.45
tgcrypto

# Database
pymongo[srv]==4.11.1
motor==3.7.0
marshmallow==3.26.1
umongo

# Networking / Scraping
requests
beautifulsoup4
aiohttp
wget

# Master tools
PyLeaves==1.0.2
wikipedia

# Media & Utils
opencv-python-headless==4.8.1.78
Pillow==9.4.0
ffmpeg-python==0.2.0
psutil==5.9.4
numpy
ujson
humanize==4.6.0
aiofiles
colorama
python-decouple
python-dotenv==0.21.1

# Schedulers & Jinja
jinja2
apscheduler
pyshorteners
pyromod

# Text Matching Tools
fuzzywuzzy
python-Levenshtein

# Additional Tools
googletrans==4.0.0rc1
telegraph==2.2.0
gTTS==2.3.1
shortzy
git+https://github.com/Joelkb/cinemagoer

# Webserver (for Koyeb healthcheck)
fastapi==0.115.0
uvicorn==0.30.6

# Speedtest CLI
speedtest-cli

# Timezones
pytz
dnspython==2.3.0
