# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# Virtual environment
.venv/
env/
venv/

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Koyeb / Render / Heroku build cache
*.sqlite3
*.db

# Secrets (keep your env variables out of git!)
.env
config.json
